# PlanAhead Generated physical constraints 

NET "clk1" LOC = L15;
NET "clk2" LOC = L13;
NET "rst" LOC = E4;
NET "sync" LOC = U17;
NET "lineOut" LOC = N16;
NET "lineIn" LOC = T18;
NET "hardReset" LOC = T17;
NET "leds(7)" LOC = N12;
NET "leds(6)" LOC = P16;
NET "leds(5)" LOC = D4;
NET "leds(4)" LOC = M13;
NET "leds(3)" LOC = L14;
NET "leds(2)" LOC = N14;
NET "leds(1)" LOC = M14;
NET "leds(0)" LOC = U18;