# PlanAhead Generated physical constraints 

NET "clk1" LOC = L15;
NET "clk2" LOC = L13;
NET "rst" LOC = E4;
NET "sync" LOC = U17;
NET "lineOut" LOC = N16;
#NET "lineIn" LOC = T18;
NET "hardReset" LOC = T17;